In [2]:
import pandas as pd
pd_time = pd.to_datetime("2021-11-02 17:11:11")
print(type(pd_time),pd_time)

pd_time1 = pd.to_datetime("2021-11-02 5:19 pm")
print(type(pd_time1),pd_time1)

pd_time2 = pd.to_datetime("11/02/2021")
print(type(pd_time1),pd_time2)

pd_time3 = pd.to_datetime("Aug 29 ,2021")
print(type(pd_time3),pd_time3)

<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2021-11-02 17:11:11
<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2021-11-02 17:19:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2021-11-02 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2021-08-29 00:00:00

In [5]:
pd_time4 = pd.to_datetime("2021年11月02日",format="%Y年%m月%d日")
print(type(pd_time4),pd_time4)

<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2021-11-02 00:00:00

In [6]:
time_value = 1635845240
pd_time5 = pd.to_datetime(time_value,unit="s")
print(type(pd_time5),pd_time5)

<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2021-11-02 09:27:20

In [9]:
time_value = 1635845240
pd_time6 = pd.to_datetime(time_value,unit="s").tz_localize("Asia/Shanghai")
print(type(pd_time6),pd_time6)

<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2021-11-02 09:27:20+08:00

In [10]:
pd_time7 = pd.Timestamp(year=2021,month=11,day=2,hour=17)
print(type(pd_time7),pd_time7)

<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2021-11-02 17:00:00

In [11]:
pd_time8 = pd.Timestamp("now")
print(type(pd_time8),pd_time8)

<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2021-11-02 17:35:48.367502

In [18]:
print("当前时间对象：",pd_time8)
print("星期几，星期一为0：",pd_time8.dayofweek)
print("星期几，字符串表示：",pd_time8.day_name())
print("一年中的第几天",pd_time8.dayofyear)
print("这个月有几天：",pd_time8.daysinmonth)
print("今年是否有闰年",pd_time8.is_leap_year)

当前时间对象： 2021-11-02 17:35:48.367502
星期几，星期一为0： 1
星期几，字符串表示： Tuesday
一年中的第几天 306
这个月有几天： 30
今年是否有闰年 False

In [20]:
current_time = pd.Timestamp("now")
print("当前时间：",current_time)
two_week_ago = current_time -pd.Timedelta("2w")
print("两周前：",two_week_ago)
future_time = current_time +pd.Timedelta("30D7H")
print("30天零7小时之后的时间：",future_time)

当前时间： 2021-11-02 19:49:54.466416
两周前： 2021-10-19 19:49:54.466416

In [3]:
df_log = pd.read_csv("order_record.csv")
df_log

,user_id,item_id,cat_id,seller_id,brand_id,action_type,time
0,328862,323294,833,2882,2661.0,0,2018-08-29 17:17:22.300959410
1,328862,623866,1271,2882,2661.0,0,2018-08-29 20:59:58.841378430
2,328862,239288,602,420,4953.0,0,2018-08-01 19:20:06.479644547
3,328862,197239,602,420,4953.0,0,2018-08-01 17:25:58.912202131
4,328862,524981,664,2382,1272.0,0,2018-06-02 11:00:51.123221777
...,...,...,...,...,...,...,...
995,219316,950987,662,4044,82.0,0,2018-11-08 11:10:13.586269568
996,219316,103338,1142,4509,4365.0,0,2018-11-08 19:10:55.214335543
997,219316,1002315,1142,4509,4365.0,0,2018-11-08 16:54:37.687285776
998,219316,840951,1142,4509,4365.0,0,2018-11-08 17:46:17.253211617
999,219316,868089,384,606,376.0,0,2018-06-26 20:38:07.950590072

In [4]:
df_log["time"] = pd.to_datetime(df_log["time"])
df_log["time"]

0     2018-08-29 17:17:22.300959410
1     2018-08-29 20:59:58.841378430
2     2018-08-01 19:20:06.479644547
3     2018-08-01 17:25:58.912202131
4     2018-06-02 11:00:51.123221777
                   ...
995   2018-11-08 11:10:13.586269568
996   2018-11-08 19:10:55.214335543
997   2018-11-08 16:54:37.687285776
998   2018-11-08 17:46:17.253211617
999   2018-06-26 20:38:07.950590072
Name: time, Length: 1000, dtype: datetime64[ns]

In [5]:
df_log.set_index("time",inplace=True)
df_log

,user_id,item_id,cat_id,seller_id,brand_id,action_type
time,,,,,,
2018-08-29 17:17:22.300959410,328862,323294,833,2882,2661.0,0
2018-08-29 20:59:58.841378430,328862,623866,1271,2882,2661.0,0
2018-08-01 19:20:06.479644547,328862,239288,602,420,4953.0,0
2018-08-01 17:25:58.912202131,328862,197239,602,420,4953.0,0
2018-06-02 11:00:51.123221777,328862,524981,664,2382,1272.0,0
...,...,...,...,...,...,...
2018-11-08 11:10:13.586269568,219316,950987,662,4044,82.0,0
2018-11-08 19:10:55.214335543,219316,103338,1142,4509,4365.0,0
2018-11-08 16:54:37.687285776,219316,1002315,1142,4509,4365.0,0
2018-11-08 17:46:17.253211617,219316,840951,1142,4509,4365.0,0
2018-06-26 20:38:07.950590072,219316,868089,384,606,376.0,0

In [6]:
df_log.index

DatetimeIndex(['2018-08-29 17:17:22.300959410',
               '2018-08-29 20:59:58.841378430',
               '2018-08-01 19:20:06.479644547',
               '2018-08-01 17:25:58.912202131',
               '2018-06-02 11:00:51.123221777',
               '2018-08-05 20:05:11.133293715',
               '2018-05-26 19:28:14.277231067',
               '2018-08-01 09:27:13.308466863',
               '2018-08-01 20:10:49.750381298',
               '2018-08-29 10:32:02.810711209',
               ...
               '2018-06-26 05:38:10.665002733',
               '2018-11-08 20:14:24.095278801',
               '2018-06-26 11:58:05.882424965',
               '2018-06-26 14:51:20.324176599',
               '2018-11-08 10:23:33.481605756',
               '2018-11-08 11:10:13.586269568',
               '2018-11-08 19:10:55.214335543',
               '2018-11-08 16:54:37.687285776',
               '2018-11-08 17:46:17.253211617',
               '2018-06-26 20:38:07.950590072'],
              dtype='datetime64[ns]', name='time', length=1000, freq=None)

In [8]:
df_log.loc["2018-09-01" : "2018-09-15", :]

/Users/shanjian/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1069: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  return self._getitem_tuple_same_dim(tup)

,user_id,item_id,cat_id,seller_id,brand_id,action_type
time,,,,,,
2018-09-08 12:44:02.636418481,328862,267067,1208,1200,2276.0,0
2018-09-06 19:41:35.691989108,328862,267067,1208,1200,2276.0,0
2018-09-05 19:13:23.634243950,356311,819981,1431,4707,1176.0,0
2018-09-11 23:43:22.551200163,186568,853621,1362,1831,7521.0,0
2018-09-11 08:42:47.042776673,186568,853621,1362,1831,7521.0,0
2018-09-15 12:29:07.155490692,149002,437598,407,215,3969.0,2
2018-09-12 18:06:58.537975007,2859,1599,180,1679,7931.0,0
2018-09-13 06:38:29.162168837,2859,720990,812,1849,5577.0,2
2018-09-09 07:13:09.197878294,2859,1599,180,1679,7931.0,0
2018-09-04 02:13:43.568810605,153790,215089,1174,2677,1579.0,0
2018-09-07 19:00:52.982985323,366342,934017,1357,3144,4026.0,0
2018-09-12 22:12:32.981659694,171799,259995,1349,802,4279.0,0
2018-09-12 13:23:46.897866161,171799,259995,1349,802,4279.0,0
2018-09-09 09:58:18.810760832,106629,764470,1661,2537,6066.0,0
2018-09-11 08:57:56.722017843,109881,108933,1438,4695,277.0,0
2018-09-09 13:08:49.911314005,109881,179830,1208,546,2276.0,0
2018-09-11 15:44:57.955692133,300681,515405,1174,1344,2003.0,0
2018-09-02 19:03:10.361985443,300681,384041,1648,3454,3725.0,3
2018-09-14 13:10:34.757124343,300681,149045,154,373,4743.0,3
2018-09-14 21:03:28.716640205,300681,469320,812,2639,7063.0,3
2018-09-14 03:11:34.483138000,300681,917709,154,373,4743.0,0
2018-09-02 23:39:59.508904177,62392,846956,1389,1393,4705.0,0
2018-09-05 17:26:57.943691397,409280,41776,1213,1707,6896.0,0
2018-09-05 23:37:15.194639128,409280,397593,177,2715,5517.0,0
2018-09-05 16:17:32.464148177,409280,752913,407,1751,2507.0,0
2018-09-05 11:37:38.286944083,409280,536459,1213,1707,6896.0,0
2018-09-05 19:13:44.824086874,409280,800924,1213,1751,2507.0,0
2018-09-05 15:17:02.159296024,409280,170113,1213,1751,2507.0,0
2018-09-11 10:42:17.629797363,401805,309859,1413,1805,6374.0,0
2018-09-11 23:37:01.578122271,401805,840467,1470,1805,1866.0,2
2018-09-08 21:08:19.655710271,401805,930737,1174,4467,2840.0,0
2018-09-06 14:55:12.300207246,401805,1070421,629,1617,4073.0,0
2018-09-11 12:39:35.916591734,142526,381465,138,2010,1805.0,0
2018-09-04 22:45:33.028955016,142526,1073193,602,1244,1128.0,0
2018-09-04 01:41:50.051737176,142526,244821,1653,1167,7211.0,0
2018-09-13 15:48:14.292223608,198759,815072,1028,1986,2158.0,0
2018-09-12 23:08:46.679913027,190674,523962,1467,759,338.0,0
2018-09-11 22:32:58.285910388,206021,909550,1566,1056,1439.0,0
2018-09-11 08:24:54.254330314,206021,333601,1520,1056,1439.0,0
2018-09-11 19:45:17.550181179,206021,1061960,1520,1056,1439.0,0
2018-09-06 20:14:54.160026401,277052,152455,1553,3315,1605.0,3
2018-09-13 20:09:40.014894914,277052,681239,821,2884,7239.0,0
2018-09-06 05:39:16.514268483,333065,102518,662,1704,5581.0,0
2018-09-06 20:49:40.310362371,333065,102518,662,1704,5581.0,0

In [9]:
df_log.loc["2018-08" : "2018-09" , :]

/Users/shanjian/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1069: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  return self._getitem_tuple_same_dim(tup)

,user_id,item_id,cat_id,seller_id,brand_id,action_type
time,,,,,,
2018-08-29 17:17:22.300959410,328862,323294,833,2882,2661.0,0
2018-08-29 20:59:58.841378430,328862,623866,1271,2882,2661.0,0
2018-08-01 19:20:06.479644547,328862,239288,602,420,4953.0,0
2018-08-01 17:25:58.912202131,328862,197239,602,420,4953.0,0
2018-08-05 20:05:11.133293715,328862,963870,267,3073,8126.0,2
...,...,...,...,...,...,...
2018-09-06 20:49:40.310362371,333065,102518,662,1704,5581.0,0
2018-08-12 20:45:41.935926509,333065,598686,1228,3172,8031.0,3
2018-08-25 18:30:57.506558800,219316,688843,962,3859,1552.0,0
2018-08-25 14:18:22.238801656,219316,927308,1142,4869,2902.0,0
2018-08-25 14:33:44.319339977,219316,1075576,420,3663,5773.0,0

In [10]:
df_log.loc["2018-08-01" : "2018-09-02 14:00:00" ,:]

/Users/shanjian/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1069: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  return self._getitem_tuple_same_dim(tup)

,user_id,item_id,cat_id,seller_id,brand_id,action_type
time,,,,,,
2018-08-29 17:17:22.300959410,328862,323294,833,2882,2661.0,0
2018-08-29 20:59:58.841378430,328862,623866,1271,2882,2661.0,0
2018-08-01 19:20:06.479644547,328862,239288,602,420,4953.0,0
2018-08-01 17:25:58.912202131,328862,197239,602,420,4953.0,0
2018-08-05 20:05:11.133293715,328862,963870,267,3073,8126.0,2
...,...,...,...,...,...,...
2018-08-10 10:37:22.198933296,277052,432229,1577,2545,2334.0,3
2018-08-12 20:45:41.935926509,333065,598686,1228,3172,8031.0,3
2018-08-25 18:30:57.506558800,219316,688843,962,3859,1552.0,0
2018-08-25 14:18:22.238801656,219316,927308,1142,4869,2902.0,0
2018-08-25 14:33:44.319339977,219316,1075576,420,3663,5773.0,0

1. 基本概念：
pandas 的时间处理体系主要包含这几个类。

Timestamp 代表时间点。

DatetimeIndex 代表多个 Timestamp构成的索引列表。

Timedelta 代表时间长度，用于做时间的计算

TimedeltaIndex 用于将 Timedelta做索引，但不常用。

2. 数据的解析：
通过 to_datetime 函数，可以将各类时间字符串、时间戳等表示形式转换为Timestamp 对象。同时也可以自定义时间格式字符串，用%Y、%m、%d 等格式字符来自定义解析。

3. 时间属性的提取：
Timestamp 对象提供了丰富的访问时间各种维度信息的能力，比如当前时间是星期几、在一年中是第几天，等等，具体见上面的示例代码。

4. 时间数据的计算：
在某个时间点上加减时间，需要用 Timedelta 对象来描述时间的长度。同样，Timedelta 对象也能从各种不同的数据生成，比如字符串、单位时间等。Timedelta 同时也可以表示两个 Timestamp 相减后的差。

5. 时间数据作为索引：
当我们希望从时间维度去筛选数据表中的数据的时候，可以将时间相关的列转换成 DatetimeIndex， 这样可以在行索引中直接写时间范围来筛选数据，非常方便。

学完了本讲，我们 pandas 相关的学习已经进入了尾声，是不是已经迫不及待想要用 pandas 做一个略微复杂的练习了呢？ 下一讲我们将会融合最近几讲学习的内容，完成一个较为完整的数据分析。

思考一下，Timedelta 为什么不能按月创建？

答案：

Timedelta 代表一个绝对的时间长度，而一个月的天数是不固定的。